
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Infogen - Daily Attendance</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    


</head>

<body class="h-100 main-login">
    <div class="global-container login-container align-items-center">
        <div class="login-logo">
            <img src="assets/images/login-page-logo.svg">
        </div>
        <div class="card login-form">
            <div class="card-body">
                <div class="card-title text-center">
                  <h5>Sign in</h5>
                </div>
                <div class="card-text">
                    <form action="./home.html">
                        <div class="form-group">
                            <input type="email" class="form-control form-control" id="exampleInputEmail1"
                                placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control" id="exampleInputPassword1"
                                placeholder="Password">
                        </div>
                        <div class="form-group d-flex justify-content-space-between">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="customCheck1" type="checkbox">
                                <label class="custom-control-label" for="customCheck1">Remember me</label>
                            </div>
                            <div class="forgot-pass ml-auto d-block">
                                <a href="#" class="">Forgot Password?</a>
                            </div>
                        </div>
                        <a routerLink="/dashboard"><button type="submit" class="btn btn-info btn-block">Sign in</button></a>

                        <!-- <div class="sign-up">
                            Don't have an account? <a href="#">Create One</a>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>