<!DOCTYPE html>
<html lang="en">

<head>
    <title>Infogen - Check In</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
        
<!-- 
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/custom.css"> -->

</head>

<body class="">
	
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menu-light">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item active">
					    <a href="/dashboard" class="nav-link ">
                            <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                            <span class="pcoded-mtext">Dashboard</span>
                        </a>
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a  class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="far fa-user"></i>
                            </span>
                            <span class="pcoded-mtext">Personal Details</span>
                        </a>
					    <ul class="pcoded-submenu">
					        <li><a href="/personal-details">Profile</a></li>
                            <li><a href="/bank-details">Bank Details</a></li>
                            <li><a href="/qualification-details">Qualification Details</a></li>
					    </ul> 
					</li>
					<!-- <li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                            <span class="pcoded-mtext">Leave Details</span>
                        </a>
					    <ul class="pcoded-submenu">
					        <li><a href="">Details 1</a></li>
					        <li><a href="">Details 2</a></li>
					        <li><a href="">Details 3</a></li>
					    </ul>
                    </li> -->
                    <li class="nav-item pcoded-hasmenu">
					    <a  class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="far fa-address-card"></i>
                            </span>
                            <span class="pcoded-mtext">Employee Details</span>
                        </a>
					    <ul class="pcoded-submenu">
					        <li><a href="">Daily Attendance</a></li>
					        <li><a href="/task-details">Tasks</a></li>
					        <li><a href="">Leaves</a></li>
					    </ul> 
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a  class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="far fa-user-circle"></i>
                            </span>
                            <span class="pcoded-mtext">My Account</span>
                        </a>
					    <ul class="pcoded-submenu">
					        <li><a href="">Details 1</a></li>
					        <li><a href="">Details 2</a></li>
					        <li><a href="">Details 3</a></li>
					    </ul>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
					    <a class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="fab fa-codepen"></i>
                            </span>
                            <span class="pcoded-mtext">Coding Standards</span>
                        </a>
					    <ul class="pcoded-submenu">
					        <li><a href="">Details 1</a></li>
					        <li><a href="">Details 2</a></li>
					        <li><a href="">Details 3</a></li>
					    </ul> 
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a  class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="fas fa-birthday-cake"></i>
                            </span>
                            <span class="pcoded-mtext">Current Birthdays</span>
                        </a>
					    <ul class="pcoded-submenu">
					        <li><a href="">Details 1</a></li>
					        <li><a href="">Details 2</a></li>
					        <li><a href="">Details 3</a></li>
					    </ul>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
					    <a  class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                            <span class="pcoded-mtext">ASIPL Mantis</span>
                        </a>
					    <ul class="pcoded-submenu">
					        <li><a href="">Details 1</a></li>
					        <li><a href="">Details 2</a></li>
					        <li><a href="">Details 3</a></li>
					    </ul>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
					    <a  class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="fab fa-wikipedia-w"></i>
                            </span>
                            <span class="pcoded-mtext">ASIPL Wiki</span>
                        </a>
					    <ul class="pcoded-submenu">
					        <li><a href="">Details 1</a></li>
					        <li><a href="">Details 2</a></li>
					        <li><a href="">Details 3</a></li>
					    </ul>
					</li>
					

				</ul>
				
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
	<!-- [ Header ] start -->
	<header class="navbar pcoded-header navbar-expand-lg navbar-light header-blue">
				<div class="m-header">
					<a class="mobile-menu" id="mobile-collapse" ><span></span></a>
					<a  class="b-brand">
						<!-- ========   change your logo hear   ============ -->
						<img src="assets/images/logo.svg" alt="Infogen Labs Logo" class="logo">
						<img src="assets/images/logo-icon.png" alt="" class="logo-thumb">
					</a>
					<a href="#!" class="mob-toggler">
						<i class="feather icon-more-vertical"></i>
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="pop-search"><i class="feather icon-search"></i></a>
							<div class="search-bar">
								<input type="text" class="form-control border-0 shadow-none" placeholder="Search hear">
								<button type="button" class="close" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</li>
					</ul>
					<ul class="navbar-nav ml-auto">
                        <!-- <li class="nav-item mr-4 check-in">
                            <a href="">
                                <i class="feather icon-log-in mr-2"></i>
                                <p class="todays-date d-inline-block">Check In</p>
                            </a>  
                        </li> -->
                        <li>
							<div class="dropdown drp-user">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="feather icon-user ml-2 mr-1"></i>
                                    Vinod N
								</a>
								<div class="dropdown-menu dropdown-menu-right profile-notification">
									<div class="pro-head">
										<img src="assets/images/bday-img.png" class="img-radius" alt="User-Profile-Image">
										<span>Vinod N</span>
										<a href="" class="dud-logout" title="Logout">
											<i class="feather icon-log-out"></i>
										</a>
									</div>
									<ul class="pro-body">
										<li><a href="" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
										<li><a href="" class="dropdown-item"><i class="feather icon-settings"></i> Setting</a></li>
										<li><a href="" class="dropdown-item"><i class="feather icon-lock"></i> Change Password</a></li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>
	</header>
	<!-- [ Header ] end -->
	
	

<!-- [ Main Content ] start -->
<div class="main-container">
        <div class="checkIn-content-container">
            <div class="checkIn-img-wrap">
                <img src="./assets/images/bulb-gray-light.svg">
                <p class="checkIn-time">9.30 AM</p>
            </div>
            <div class="checkIn-data">
                <p class="checkIn-title mt-4 mb-2">Welcome To Your Desk Rohan</p>
                <p class="checkIn-data">Check In and start your work day</p>
                <button class="btn mt-3 black-btn" (click)="refresh()">Check In</button>
            </div>
        </div>
</div>
<!-- [ Main Content ] end -->
    


<!-- <script src="assets/js/pcoded.min.js"></script> -->


</body>

</html>

