<!DOCTYPE html>
<html lang="en">

<head>
    <title>Infogen - Dashboard</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
        
<!-- 
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/custom.css"> -->

</head>

<body class="">
	
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item active">
					    <a routerLink="/dashboard" class="nav-link ">
                            <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                            <span class="pcoded-mtext">Dashboard</span>
                        </a>
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="far fa-user"></i>
                            </span>
                            <span class="pcoded-mtext">Personal Details</span>
                        </a>
					    <ul class="pcoded-submenu">
					        <li><a href="">Profile</a></li>
                            <li><a href="">Bank Details</a></li>
                            <li><a href="">Qualification Details</a></li>
					    </ul> 
					</li>
					<!-- <li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                            <span class="pcoded-mtext">Leave Details</span>
                        </a>
					    <ul class="pcoded-submenu">
					        <li><a href="">Details 1</a></li>
					        <li><a href="">Details 2</a></li>
					        <li><a href="">Details 3</a></li>
					    </ul>
                    </li> -->
                    <li class="nav-item pcoded-hasmenu">
					    <a class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="far fa-address-card"></i>
                            </span>
                            <span class="pcoded-mtext">Employee Details</span>
                        </a>
					    <ul class="pcoded-submenu">
					        <li><a href="">Daily Attendance</a></li>
					        <li><a href="">Tasks</a></li>
					        <li><a href="">Leaves</a></li>
					    </ul> 
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a  class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="far fa-user-circle"></i>
                            </span>
                            <span class="pcoded-mtext">My Account</span>
                        </a>
					    <ul class="pcoded-submenu">
					        <li><a href="">Details 1</a></li>
					        <li><a href="">Details 2</a></li>
					        <li><a href="">Details 3</a></li>
					    </ul>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
					    <a  class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="fab fa-codepen"></i>
                            </span>
                            <span class="pcoded-mtext">Coding Standards</span>
                        </a>
					    <ul class="pcoded-submenu">
					        <li><a href="">Details 1</a></li>
					        <li><a href="">Details 2</a></li>
					        <li><a href="">Details 3</a></li>
					    </ul> 
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a  class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="fas fa-birthday-cake"></i>
                            </span>
                            <span class="pcoded-mtext">Current Birthdays</span>
                        </a>
					    <ul class="pcoded-submenu">
					        <li><a href="">Details 1</a></li>
					        <li><a href="">Details 2</a></li>
					        <li><a href="">Details 3</a></li>
					    </ul>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
					    <a  class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                            <span class="pcoded-mtext">ASIPL Mantis</span>
                        </a>
					    <ul class="pcoded-submenu">
					        <li><a href="">Details 1</a></li>
					        <li><a href="">Details 2</a></li>
					        <li><a href="">Details 3</a></li>
					    </ul>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
					    <a class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="fab fa-wikipedia-w"></i>
                            </span>
                            <span class="pcoded-mtext">ASIPL Wiki</span>
                        </a>
					    <ul class="pcoded-submenu">
					        <li><a href="">Details 1</a></li>
					        <li><a href="">Details 2</a></li>
					        <li><a href="">Details 3</a></li>
					    </ul>
					</li>
					

				</ul>
				
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
	<!-- [ Header ] start -->
	<header class="navbar pcoded-header navbar-expand-lg navbar-light header-blue">
				<div class="m-header">
					<a class="mobile-menu" id="mobile-collapse" ><span></span></a>
					<a  class="b-brand">
						<!-- ========   change your logo hear   ============ -->
						<img src="assets/images/logo.svg" alt="Infogen Labs Logo" class="logo">
						<img src="assets/images/logo-icon.png" alt="" class="logo-thumb">
					</a>
					<a  class="mob-toggler">
						<i class="feather icon-more-vertical"></i>
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a  class="pop-search"><i class="feather icon-search"></i></a>
							<div class="search-bar">
								<input type="text" class="form-control border-0 shadow-none" placeholder="Search hear">
								<button type="button" class="close" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</li>
					</ul>
					<ul class="navbar-nav ml-auto">
                        
                        <!-- <li class="nav-item mr-4">
                            <i class="fas fa-calendar-day mr-2"></i>
                            <p class="todays-date d-inline-block">12th Jan 2020</p>
                        </li> -->

                        <li class="nav-item mr-4">
                            <i class="fas fa-hourglass-start mr-2"></i>
                            <p class="chk-time d-inline-block">Todays Check In time: 9.30 AM</p>
                        </li>
                        <li class="nav-item mr-4 check-in">
                            <a routerLink="/checkin">
                                <i class="feather icon-log-in mr-2"></i>
                                <span class="todays-date d-inline-block">Check In</span>
                            </a>  
                        </li>
                        <!-- <li class="nav-item mr-4 check-out">
                            <a href="">
                                <i class="feather icon-log-out mr-2"></i>
                                <p class="todays-date d-inline-block">Check Out</p>
                            </a>  
                        </li> -->
                        <li>
							<div class="dropdown drp-user">
								<a href="#"  class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="feather icon-user ml-2 mr-1"></i>
                                    Vinod N
								</a>
								<div class="dropdown-menu dropdown-menu-right profile-notification">
									<div class="pro-head">
										<img src="assets/images/bday-img.png" class="img-radius" alt="User-Profile-Image">
										<span>Vinod N</span>
										<a href="" class="dud-logout" title="Logout">
											<i class="feather icon-log-out"></i>
										</a>
									</div>
									<ul class="pro-body">
										<li><a href="" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
										<li><a href="" class="dropdown-item"><i class="feather icon-settings"></i> Setting</a></li>
										<li><a href="" class="dropdown-item"><i class="feather icon-lock"></i> Change Password</a></li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>
	</header>
	<!-- [ Header ] end -->
	
	

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10 float-left">Dashboard</h5>
                            <div class="mr-4 float-right main-todays-date">
                                <i class="fas fa-calendar-day mr-2"></i>
                                <p class="todays-date d-inline-block">12th Jan 2020</p>
                            </div>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href=" "><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Dashboard</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-xl-5 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="align-items-center">
                            <div class="attendance-details">
                                <div class="atte-detl-heading">
                                    <i class="far fa-calendar-check"></i>
                                    <h2>Attendance Details</h2>
                                </div>
                                <div class="atte-detl-info">
                                    <div class="atte-dtl-inner date">
                                        <h6>Date</h6>
                                        <p>1/2/2020</p>
                                        <p>2/2/2020</p>
                                        <p>3/2/2020</p>
                                    </div>
                                    <div class="atte-dtl-inner inout-time">
                                        <h6>In-Out Time</h6>
                                        <p>9:46:23 AM - 7:00:51 PM</p>
                                        <p>9:46:23 AM - 7:00:51 PM</p>
                                        <p>9:46:23 AM - 7:00:51 PM</p>
                                    </div>
                                    <div class="atte-dtl-inner hrs">
                                        <h6>Hrs</h6>
                                        <p>08</p>
                                        <p>08.45</p>
                                        <p>09</p>
                                    </div>
                                    <div class="atte-dtl-inner status">
                                        <h6>Status</h6>
                                        <p class="text-blue">P</p>
                                        <p class="text-blue">P</p>
                                        <p class="text-blue">P</p>
                                    </div>
                                </div>
                                <div class="view-all-but">
                                    <a class="blue-btn" href="">View All</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="align-items-center">
                            <div class="attendance-details">
                                <div class="atte-detl-heading">
                                    <i class="fas fa-user-tie"></i>
                                    <h2>Job Openings</h2>
                                </div>
                                <div class="atte-detl-info">
                                    <div class="atte-dtl-inner date">
                                        <h6>Position</h6>
                                        <p>DeveOps Engineer</p>
                                        <p>Software Developer</p>
                                        <p>QA Engineer</p>
                                    </div>
                                    <div class="atte-dtl-inner hrs">
                                        <h6>Openings</h6>
                                        <p>02</p>
                                        <p>03</p>
                                        <p>01</p>
                                    </div>
                                </div>
                                <div class="view-all-but">
                                    <a class="blue-btn" href="">View All</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="align-items-center">
                            <div class="attendance-details">
                                <div class="atte-detl-heading">
                                    <i class="fas fa-umbrella-beach"></i>
                                    <h2>Upcoming Holidays</h2>
                                </div>
                                <div class="atte-detl-info">
                                    <div class="atte-dtl-inner date">
                                        <h6>Name</h6>
                                        <p>Ganpati</p>
                                        <p>Diwali</p>
                                        <p>Ganpati</p>
                                        
                                    </div>
                                    <div class="atte-dtl-inner hrs">
                                        <h6>Date</h6>
                                        <p>2nd Sep</p>
                                        <p>5th Nov to 9th Nov</p>
                                        <p>14th Dec</p>
                                    </div>
                                    <div class="atte-dtl-inner hrs">
                                        <h6>Day</h6>
                                        <p>Friday</p>
                                        <p>Monday</p>
                                        <p>Wednesday</p>
                                       
                                    </div>
                                </div>
                                <div class="view-all-but">
                                    <a class="blue-btn" href="">View All</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Latest Customers start -->
            <div class="col-lg-6 col-md-12">
                <div class="card table-card review-card">
                    <div class="card-body">
                        <div class="leaves-attendance">
                            <img src="assets/images/leaves-attendance.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="card chat-card">
                                <div class="card-body">
                                    <div class="todays-bday">
                                        <div class="bday-heading">
                                            <h2><i class="fas fa-birthday-cake"></i> Today's Birthday</h2>
                                        </div>
                                        <div class="bday-list">
                                            <div class="bday-main-list">
                                                <div class="bday-img float-left">
                                                    <img src="assets/images/bday-img.png">
                                                </div>
                                                <div class="bday-wish-name float-left">
                                                    <h5>HAPPY BIRTHDAY</h5>
                                                    <h3>Name Surname</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="view-all-but">
                                            <a class="blue-btn" href="">View All</a>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="card chat-card">
                                <div class="card-body">
                                    <div class="todays-bday">
                                        <div class="bday-heading">
                                            <h2><i class="fas fa-theater-masks"></i> Today's Thought</h2>
                                        </div>
                                        <div class="todays-thought">
                                            <p>"People fail because they try. 
                                                People try because they believe. 
                                                People succeed because they still 
                                                believed even when they failed."</p>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>

                        <div class="col-xl-12 col-md-12">
                            <div class="card chat-card">
                                <div class="card-body">
                                    <div class="new-and-event">
                                        <div class="bday-heading">
                                            <h2><i class="far fa-calendar-alt"></i> News & Events</h2>
                                        </div>

                                        <div class="align-items-center">
                                            <div class="attendance-details news-events-inner">
                                                <div class="atte-detl-info">
                                                    <div class="atte-dtl-inner Title">
                                                        <h6>Title</h6>
                                                        <p>Lorem ipsum dolor sit amet. Nulla et iaculis erat.</p>
                                                        <p>Lorem ipsum dolor sit amet. Nulla et iaculis erat.</p>
                                                    </div>
                                                    <div class="atte-dtl-inner Date">
                                                        <h6>Date</h6>
                                                        <p>1/2/2020</p>
                                                        <p>1/2/2020</p>
                                                    </div>
                                                </div>
                                                <div class="view-all-but">
                                                    <a class="blue-btn" href="">View All</a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>  
                            </div>
                        </div>


                    </div>

                    <div class="card-body">

                    </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
<!-- [ Main Content ] end -->
  
<!-- <script src="assets/js/pcoded.min.js"></script> -->
<!-- <router-outlet>
    
</router-outlet> -->



  

</body>

</html>
